@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";

@theme {
    --font-display: "Open Sans", "sans-serif";
    --breakpoint-3xl: 1920px;
    --color-primary: #008CFF;
}

@layer base {
    html {
        font-family: var(--font-display);
    }

    body {
        background-color: #fcfcfc;
        overflow-x: hidden;
    }
}

.input-box {
    @apply w-[415px] h-[46px] flex justify-between text-sm text-black rounded-[10px] px-4 py-3 border border-[#0000003D] outline-none hover:cursor-pointer hover:border-primary 
} 

.btn-primary {
    @apply w-[415px] h-[41px] text-lg font-normal text-white bg-primary shadow-lg rounded-[10px] cursor-pointer hover:bg-blue-500
}